header {
    display: flex;
    justify-content: space-between;
}

#theme-btn {
    background: linear-gradient(45deg, #0e171c, #38499a, #11dedb);
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.info {
    background-color: #f9f9f9;
    color: #0e171c;
    transition: background-color 0.3s;
    margin: 15px auto;
    box-shadow: 0, 10px, 15px, rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.info > a {
    width: 13%;
}

.profile-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    background: linear-gradient(90deg, #38499a, #11dedb, #b4b5be);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile-card:hover {
    transform: translateY(-10px); /*lifts the card up*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*adds a shadow for depth */
}

.dark-theme {
    background-color: #94daed !important;
    border-color: #444;
    color: #f9f9f9;
}

#contact-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#contact-section {
    background-color: #83959e;
    padding: 8px;
    display: inline-block;
}

#contact-section > input{
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

#contact-section > textarea{
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

#contact-section > button{
    background: linear-gradient(45deg, #0e171c, #38499a, #11dedb);
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: white;
    margin-left: 5px;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#form-status {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show-status {
    opacity: 1;
}

#contact-section > h3{
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
}

label {
    display: block;
    font-size: 24px;
    font-weight: bold;

}


